@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 1s linear infinite;
}

@layer base {
  body {
    @apply bg-dark text-white min-h-screen;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
